
#include "Pods/Target Support Files/Pods-available_pods-Yabalash/Pods-available_pods-Yabalash.debug.xcconfig"

PROJECT_BUNDLE_ID = com.yabalash.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Yabalash Driver
PROJECT_PLIST = YabalashInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
